@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
	font-family: "Noto Sans", "Noto Sans TC";
}

h1 {
	font-family: inherit;
	text-transform: none;
	line-height: 6rem;
}

.subheading {
	font-family: inherit;
	text-transform: none;
	margin-top: 1rem;
}
#skills .subheading {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem!important;
}
.bg-primary{background-color:#227700!important}
.text-primary{color:#008888!important}

h2{
    font-family:inherit;
}

h3{
    font-family:inherit;
}

.timeline {
  position: relative;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #bd5d38;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-block {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%
}

.timeline-block::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -12px;
	background-color: white;
	border: 4px solid #bd5d38;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}

.timeline-left {
	left: 0;
}

.timeline-right {
	left: 50%;
}

.timeline-right::after {
	left: -12px
}

.timeline::after {
	left: 31px;
}

.timeline-block {
	width: 100%;
	padding-left: 70px;
	padding-right: 25px;
}

timeline-right {
	left: 0%
}

.timeline-left::after, .timeline-right::after {
	left: 17px;
}

h2 {
	font-family: inherit;
}

h3 {
	font-family: inherit;
}